<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html
  lang="en"
  dir="ltr"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <!-- <title>Sider Menu Bar CSS</title> -->
    <link rel="stylesheet" href="form.css" />
    <link rel="stylesheet" href="nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <section>
      <div class="area"></div>
      <nav class="main-menu">
        <ul>
          <li>
            <a href="/index">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text"> Home </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="/suppliers">
              <i class="fa fa-users fa-2x"></i>
              <span class="nav-text"> Suppliers </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="/products">
              <i class="fa fa-shopping-cart fa-2x"></i>
              <span class="nav-text"> Products </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="/orders">
              <i class="fa fa-file fa-2x"></i>
              <span class="nav-text"> Orders </span>
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <h2>Products/ Add product</h2>
    <section>
      <div class="container">
        <form
          method="post"
          th:action="@{/addProduct}"
          th:object="${productData}"
        >
          <div class="row">
            <div class="col-25">
              <label for="productName">Product Name</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="productName"
                name="productName"
                required
                maxlength="255"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="price">Price</label>
            </div>
            <div class="col-75">
              <input type="text" id="price" name="price" required />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="category"> Category</label>
            </div>
            <div class="col-75">
              <select id="category" name="category" required>
                <option value="" hidden>Select a category</option>
                <option
                  th:each="category : ${categories}"
                  th:value="${category.productCategoryId}"
                  th:text="${category.categoryName}"
                ></option>
              </select>
            </div>
          </div>

          <br />
          <div class="row">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
