<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html
  lang="en"
  dir="ltr"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <!-- <title>Sider Menu Bar CSS</title> -->
    <link rel="stylesheet" href="table.css" />
    <link rel="stylesheet" href="nav.css" />
    <link rel="stylesheet" href="form.css" />
    <link rel="stylesheet" href="card.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <section>
      <div class="area"></div>
      <nav class="main-menu">
        <ul>
          <li>
            <a href="/index">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text"> Home </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="/suppliers">
              <i class="fa fa-users fa-2x"></i>
              <span class="nav-text"> Suppliers </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="/products">
              <i class="fa fa-shopping-cart fa-2x"></i>
              <span class="nav-text"> Products </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="/orders">
              <i class="fa fa-file fa-2x"></i>
              <span class="nav-text"> Orders </span>
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <section style="display: flex">
      <div class="card">
        <div class="card-container">
          <h4><b>Total Ordred amount by category</b></h4>
          <div th:each="d1 : ${data1}">
            <p th:text="${d1.category+' : '+d1.totalAmount}"></p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-container">
          <h4><b>Total ordred quantity by category</b></h4>
          <div th:each="d2 : ${data2}">
            <p th:text="${d2.category+' : '+d2.totalQuantity}"></p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
